/**
Colour palette :
- Resolution blue : #001f7e
- White : #ffffff
- Philippine Red : #d00c27
 */

$black: #000515;
$white: #ffffff;
$blue: #001f7e;
$red: #d00c27;

$body-background: $white;
$font-color: $black;
$font-color-light: $white;

$radius: .5rem;
